[submodule "contrib/libmallochooks"]
	path = contrib/libmallochooks
	url = https://github.com/stephenrkell/libmallochooks
[submodule "tools/lang/c/cil"]
	path = tools/lang/c/cil
	url = https://github.com/stephenrkell/cil.git
[submodule "contrib/libdwarfpp"]
	path = contrib/libdwarfpp
	url = https://github.com/stephenrkell/libdwarfpp.git
[submodule "contrib/m4ntlr"]
	path = contrib/m4ntlr
	url = https://github.com/stephenrkell/m4ntlr.git
[submodule "contrib/dwarfidl"]
	path = contrib/dwarfidl
	url = https://github.com/stephenrkell/dwarfidl.git
[submodule "contrib/trap-syscalls"]
	path = contrib/trap-syscalls
	url = https://github.com/stephenrkell/trap-syscalls.git
[submodule "contrib/libantlr3c++"]
	path = contrib/libantlr3c++
	url = https://github.com/stephenrkell/libantlr3cxx.git
[submodule "contrib/libcxxgen"]
	path = contrib/libcxxgen
	url = https://github.com/stephenrkell/libcxxgen.git
[submodule "contrib/libdlbind"]
	path = contrib/libdlbind
	url = https://github.com/stephenrkell/libdlbind.git
[submodule "contrib/llvm"]
	path = contrib/llvm
	url = https://github.com/stephenrkell/llvm.git
	active = false
[submodule "contrib/llvm/tools/clang"]
	path = contrib/llvm/tools/clang
	url = https://github.com/stephenrkell/clang.git
	active = false
